body {
    font-family: 'Work Sans', sans-serif;
    background-color: #3498DB;
    padding: 50px;
}
.login {
    margin: 20px auto;
    width: 300px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px 
}
.app-title {
    text-align: center;
    color: #777;
}
.control-group {
    margin-bottom: 10px;
}
input {
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}
input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

#passwordValid, #emailValid {
    display: none;
}
.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 5px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 100px;
    margin: 0 auto;
}
.btn:hover {
    background-color: #2980B9;
}
a {
 text-align: center;
}
